/* fonts style */
body {
    font-family: "Trirong", serif;
    background: rgba(211, 211, 211, 0.667);
  }
/* fonts style */


/* ----------Top area start--------- */
/* header area */
header p{
   margin-left: 7%;
   font-weight: 800;
   font-size: 20px;

}
.menu{
    display: flex;
    justify-content: flex-end;
}
.menu a{
    text-decoration: none;
    font-weight: 900;
    padding: 20px;
    padding-top: 20px;
    color: rgb(97, 3, 3);
}
.menu a:hover{
    background-color: rgb(184, 28, 196);
    color: white;
}
/* header are finished */
h1{
    font-size: 40px;
}

h3{
   font-size: 20px;
   padding-left: 80px;
}


.top-area{
    display: flex;
    margin-bottom: 20px;
}
.top-heading{
    width: 50%;
    padding-left: 80px;
    margin: 2%;
}
.top-heading img{
    width: 440px;
    height: 414px;
    padding-left: 40px;
    border-radius: 50%;
    transition: width 2s, height 2s, transform 2s;
    
}
.top-heading img:hover{
    width: 450px;
    
    transform: rotate(180deg);
  }

.top-link-btn{
    width: 196px;
    height: 44px;
    text-decoration: none;
    background-color: rgb(192, 46, 180);
    padding: 10px 30px;
    color: rgb(235, 247, 247);
    font-weight: 700;
    border-radius: 41px;
}
a.top-link-btn:hover{
    background-color: rgba(0, 0, 255, 0.885);
}

#icon{
    margin-top: 30px;
    display: inline-block;
    vertical-align: middle;
}
/*----- top area finished----- */

/* mid area start */

.container{
    position: relative;
width: 1200px;
margin: 20px auto;
}
.section-name{
    font-weight: 800;
    text-align: center;
}


.cameras{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid: column gap 25px;
  
}
.camera{
    background-color: whitesmoke;
    width: 300px;
    border: 15px solid white;
    padding: 10px;
    margin: 20px;
}
.camera:hover{
    background-color: rgb(228, 214, 158);
}
section.camera:hover{
    background-color: whitesmoke;
}

.camera-detail{
    display: inline;
}


  .camera-price{
      font-weight: 800;
  }  

 .camera-pic img{
     width:300px;
     height: 256px;
     padding: 30px 30px;
        
 
 }
 .rat p{
     display: inline;
 }

.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: goldenrod;
}
.fa-star.empty{
    color: #AEAEAE;;
}
.fa-star-half{
    color: goldenrod;
}


article{
    text-align: right;
    margin-right: 13%;
    
    
}

.link{
    text-decoration: none;
    text-align: right;
    color: red;
}


#button-icon{
    margin-top: 20px;
}
#button-icon-two{
    font-weight: 600;}

/*---- footer area----- */
footer{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: rgb(13, 7, 43);
   color: white;
   text-align: center;
   color: whitesmoke;
   
    
}

#text-size{
    font-size: 30px;
    font-weight: 900;
}
#foot-icon i{
    display: inline;
    padding: 10px;
    padding-top: 5px;

}
.fab fa-instagram-square{
    color: whitesmoke;
}
.fab fa-facebook{
    color: whitesmoke;
}
.fab fa-twitter-square{
    color:whitesmoke;
}
.fab fa-youtube{
    color: white;
}




/* mobile device */

 @media only screen and (max-width: 688px) {  
    body{
        width: 100%;
    }
    .menu{
        flex-direction: column;
        padding:10px
    }
      .menu a{
          background-color: tomato;
          margin: 10px 0;
           text-align: center;
           border-radius: 10px;
        } 
        header p{
            text-align: center;
        }
        .top-area{
            display: inline;
            
        }
        .top-heading img{
            display: inline;
            width: 200px;
            height: 200px;
            margin-top: 40px;
            margin-right: 120px;
            margin-bottom: 40px;
        }
        .top-heading img:hover{
            width: 300px;
            
            transform: rotate(180deg);
          }
        .section-name{
            text-align: center;
        }
    .container{
        width: 100%;
            clear: both;
    }
            
        
        
        .cameras{
            display: grid;
            grid-template-columns: 1fr;
            align-content: center;

            
        }
        .camera{
            flex-direction: column;
            
    }
    footer{
        flex-direction: column;
        display: block;
    }
 }

/* mobile device finished */



 /* tablet area devices */

 @media only screen and (min-width:688px) and (max-width:992px) {
    body{
        background-color: rgb(243, 243, 239);
    }
    .menu{
        flex-direction: column;
        padding:10px
    }
      .menu a{
          background-color: tomato;
          margin: 10px 0;
           text-align: center;
           border-radius: 10px;
        } 
        header p{
            text-align: center;
        }
        .top-area{
            display: inline;
            
        }
        .top-heading img{
            padding-right: 40px;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .section-name{
            text-align: center;
        }
        .container{
            width: 100%;
        }
        .cameras{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-content: center;
            
        
        }
        .camera{
            flex-direction: column;
            padding: auto;
    }
 }

 /* tablet device finished */  